:host {
  display: block;
  width: 100%;
}

::ng-deep .ant-radio-button-wrapper {
  border: 1px solid #d9d9d9 !important;
  border-radius: 6px !important;
  margin-right: 16px !important;
}

::ng-deep .ant-radio-button-wrapper:last-child {
  margin-right: 0 !important;
}

::ng-deep .ant-radio-button-wrapper:not(:first-child)::before {
  display: none !important;
}

::ng-deep .ant-radio-button-wrapper-checked {
  border-color: #10B981 !important;
}

.form-actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}
